
.paragraph {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 24px;
}

.paragraphP {
  position: relative;
  padding-left: 30px;
  display: block; 

  &::before {
    content: '•';
    position: absolute;
    left: 0;
    top: 0; // Alinha com a primeira linha do texto
    font-size: 24px;
    color: primary;
    line-height: 1; // Garante alinhamento correto com a primeira linha
  }
}

  
  // Olá está em negrito
  .bold {
    font-weight: bold;  // Torna o texto em negrito
  }
  
  .page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    gap: 64px;
    font-family: var(--font-geist-sans);
  
    @media (prefers-color-scheme: dark) {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  
    @media (max-width: 600px) {
      padding: 32px;
      padding-bottom: 80px;
    }
  }

  // Alinhamento de texto Bem vindos ao meu Portfólio
  .saldacao {
    display: flex;
    justify-content: center;  // Alinha horizontalmente
    align-items: center;      // Alinha verticalmente
    text-align: center;       // Centraliza o texto
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
  
    li:not(:last-of-type) {
      margin-bottom: 8px;
    }
  
    code {
      font-family: inherit;
      background: var(--gray-alpha-100);
      padding: 2px 4px;
      border-radius: 4px;
      font-weight: 600;
    }
  
    @media (max-width: 600px) {
      align-items: center;
    }
  }

  // Botões
  .ctas {
    gap: 16px; // Espaço entre os botões
    display: flex;
    justify-content: center;  // Alinha horizontalmente
    align-items: center;      // Alinha verticalmente
  
    a {
      appearance: none;
      border-radius: 128px;
      height: 48px;
      padding: 0 20px;
      border: none;
      border: 1px solid transparent;
      transition: background 0.2s, color 0.2s, border-color 0.2s;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      margin-top: 40px;
      
      &.primary {
        background: var(--foreground);
        color: var(--background);
        gap: 8px;
  
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background: var(--button-primary-hover);
            border-color: transparent;
          }
        }
      }
  
      &.secondary {
        border-color: var(--gray-alpha-200);
        min-width: 180px;
  
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background: var(--button-secondary-hover);
            border-color: transparent;
          }
        }
  
        @media (max-width: 600px) {
           min-width: auto;
        }
      }
  
      @media (max-width: 600px) {
        font-size: 14px;
        height: 40px;
        padding: 0 16px;
      }
    }
  
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  
  .footer {
    grid-row-start: 3;
    display: flex;
    gap: 24px;
    margin-top: 80px;
  
    @media (max-width: 600px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
 
  .logoVercel {
    @media (prefers-color-scheme: dark) {
      filter: invert(1);
    }
  }

  // Centralização do logo NEXT JS
  .logoNextJs {
    display: block;           // Garante que a imagem seja tratada como bloco
    margin: 0 auto;           // Centraliza a imagem horizontalmente
  }



  
  
  
  
  